# Environment variables
.env

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
